:root {
  --primary: hsl(220, 45%, 45%);
  --secondary: hsl(22, 86%, 65%);
  --text: hsl(255, 18%, 4%);
}

* {
  outline: none;
}

.nav-smallScreen {
  display: none;
}

.heading-font {
  font-family: "Bungee", cursive;
}

.heading-font-ge {
  font-family: "BPG Square Mtavruli", sans-serif;
  font-weight: bold;
}

.text-font {
  font-family: "Roboto", sans-serif;
}

.text-font-ge {
  font-family: "BPG Glaho Arial", sans-serif;
}

.heading-color {
  color: var(--primary);
}

.gradiant {
  background-color: var(--secondary);
  background-image: linear-gradient(
    315deg,
    var(--secondary) 0%,
    var(--primary) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-color {
  color: var(--secondary);
}

.background-color {
  color: var(--text);
  background-color: #f2de79;
}

.large-size-font {
  font-size: 3.5rem;
}
.medium-size-font {
  font-size: 2.5rem;
}

.small-size-font {
  font-size: 1.5rem;
}

.text-size-font {
  font-size: 1.25rem;
}

.mt {
  margin-top: 8rem;
}

.ml {
  margin-left: 20rem;
}

.spacing {
  margin-top: 15rem;
}

.globe {
  color: var(--primary);
  padding: 0;
  border: 0;
}

.globe:hover,
.globe:active {
  color: var(--secondary);
}

.dropdown:hover,
.dropdown:active {
  background-color: var(--text);
  color: var(--primary);
}

.img-size {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tools {
  width: 15rem;
  height: 15rem;
  cursor: grab;
}

.tools:active {
  cursor: grabbing;
}

.bttn-color {
  color: var(--primary);
  background-color: var(--text);
}

.bttn-color:hover,
.bttn-color:active {
  color: var(--text);
  background-color: var(--primary);
  box-shadow: 0px 0px 10px var(--secondary);
}

.box-shadow {
  box-shadow: 0px 0px 10px var(--secondary);
}

.submit {
  border: 2px solid var(--primary);
  color: var(--text);
  background-color: var(--primary);
}

.submit:hover,
.submit:active {
  color: var(--primary);
  background-color: var(--text);
}

.myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--secondary);
  color: var(--text);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 100%;
  font-size: 1.5rem;
  transition: 0.5s ease-out;
  border: 3px solid var(--secondary);
}

.myBtn:hover,
.myBtn:active {
  border: 3px solid var(--secondary);
  background-image: none;
  background-color: var(--text);
  color: var(--secondary);
}

@media screen and (min-device-width: 500px) and (max-device-width: 1024px) {
  .nav-bigScreen {
    display: none;
  }
  .nav-smallScreen {
    display: block;
  }

  .large-size-font {
    font-size: 2.3rem;
  }
  .medium-size-font {
    font-size: 1.5rem;
  }

  .small-size-font {
    font-size: 1.3rem;
  }
  .text-size-font {
    font-size: 1rem;
  }

  .mt {
    margin-top: 8rem;
  }

  .ml {
    margin-left: 17rem;
  }

  .spacing {
    margin-top: 12rem;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .nav-bigScreen {
    display: none;
  }
  .nav-smallScreen {
    display: block;
  }

  .large-size-font {
    font-size: 1.8rem;
  }
  .medium-size-font {
    font-size: 1.2rem;
  }

  .small-size-font {
    font-size: 1.2rem;
  }
  .text-size-font {
    font-size: 1rem;
  }

  .mt {
    margin-top: 5rem;
  }

  .ml {
    margin-left: 15rem;
  }

  .spacing {
    margin-top: 10rem;
  }
}
